{% extends "base.html" %}
{% block content %}





<div class = 'container'>
	<div class="page-header">
  	<h1>Sauces</h1>
	</div>

	<ul class="list-group">
  {% for catalog in catalogs %}
	<li class="list-group-item" id = "catalog-list">
    <a href = "{{url_for('showItems', catalog_id = catalog.id)}}"> <strong><h3>{{catalog.name}}</h3></strong></a>
		{% if 'username' in session and creator.id == catalog.user_id %}
    <p><a class = "btn btn-warning" href = "{{url_for('editCatalog',catalog_id = catalog.id)}}">Edit Sauce</a>
    <a class = "btn btn-danger" href = "{{url_for('deleteCatalog',catalog_id = catalog.id)}}">Delete Sauce</a> </p>
	</li>
		{% else %}
		{% endif %}
  {% endfor %}
	</ul>
	{% if 'username' in session %}
	<a class = "btn btn-primary" href="{{url_for('newCatalog')}}" >Create a New Sauce Catalog</a>
	{% else %}
	{% endif %}
</div>



{% endblock content %}
