body {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  font-size: 1.5em;
}

#brand {
  font-size: 1.5em;
}

#item-list {
  font-size: 1.5em;
  font-family: sans-serif;
  text-align: left;
}


.btn-primary {
  font-size: 1em;
}

#catalog-list {
  font-size: 3em;
}
